a.navbar-brand {
  border: none;
  background-color: inherit;
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
  img {
    max-height: 50px;
    margin-top: -15px;
  }
  &.brand-text {
    padding-top:15px;
    padding-left: 0;
  }
  color: $brand-primary !important;
}

.label.label-translucent {
  background-color: rgba(#4873b8, .4);
}

.no-padding {
  padding: 0;
}
.less-padding {
  padding: 0 5px;
}

.text-smaller {
  font-size: .8em;
}

.sidebar-nav {
  min-width: 44px;

  .nav-stacked > li > a {
    height: 2.4em;
    line-height: 1.2em;
  }
}
.timestamp {
  font-size: .8em;
  font-style: italic;
}
.collapse-toggle {
  cursor: pointer;
}
.page-entries-info {
  @extend .pagination;
  @extend .text-muted;
  vertical-align: top;
  line-height: 2.4em;
  margin-top: 0;
  margin-bottom: 10px;
}
ul.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}
