a.navbar-brand {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  img {
    max-height: 50px;
  }
}

.label.label-translucent {
  background-color: rgba(#4873b8, .4);
}

.no-padding {
  padding: 0;
}

.text-smaller {
  font-size: .8em;
}
@media (max-width: $screen-sm-max) {
  .sidebar-nav {
    margin-left: -10px;
  }
}

.sidebar-nav {
  min-width: 44px;

  .nav-stacked > li > a {
    height: 2.4em;
    line-height: 1.2em;
  }
}
.timestamp {
  font-size: .8em;
  font-style: italic;
}
