.item.list-group-item:first-child {
  margin-top: 10px;
}
.items .row {
  margin-left: -10px;
}

.item.list-group-item
{
  /*reset the grid float and width and add a background for fun */
  float: none;
  width: 100%;
  .thumbnail {
    border: none;
    img {
      margin-right: 10px;
    }
  }
}
/* give the image a left float in the list view */
.item.list-group-item img{float:left;}
/* and clearfix the left float of the image */
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after
{
  clear:both;
}

.item {
  padding: 10px;
}
