.item.list-group-item:first-child {
  margin-top: 10px;
}
.items .row {
  margin-left: -10px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  .thumbnail {
    border: none;
    text-align: left;
  }
  .panel-footer {
    background: none;
    border: none;
  }
}
/* give the image a left float in the list view */
.item > .thumbnail > a {
  height: 126px;
  display: block;
}
.item.list-group-item > .thumbnail > a {
  width: 167px;
  float: left;
  margin-right: 15px;
}
// .item.list-group-item > a img {float:left;}
/* and clearfix the left float of the image */
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after
{
  clear:both;
}

.item {
  padding: 10px;
}

.available-counter {
  position: absolute;
  top: 12px;
  right: 11px;
}

.panel-body {
  position: relative;
}
.item .panel-body > .thumbnail {
  margin-bottom: 0;
}
.item-summary p:last-child {
  margin-bottom: 0;
}
.item-preview > h4.list-group-item-heading {
  font-size: 1.1em;
  height: 40px;
}
.item > .thumbnail {
  margin-bottom: 0;
  padding: 0;
}
.item-preview {
  .item-publisher {
    height: 1em;
    font-size: .8em;
  }
}

.facet-values {
  display: table;
  width: 100%;
  li {
    display: table-row;
  }
  .facet-label {
    display: table-cell;
    padding-right: 1em;
    text-indent: -15px;
    padding-left: 15px;
    padding-bottom: 6px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
  }
  .remove {
    text-indent: 12px;
  }
}

.panel-heading.collapse-toggle .panel-title:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
  font-size: 0.8em;
  line-height: normal;
}
.panel-heading.collapse-toggle.collapsed .panel-title:after {
  content: "\e080";
}
