.item.list-group-item:first-child {
  margin-top: 10px;
}
.items .row {
  margin-left: -10px;
}

.item.list-group-item
{
  /*reset the grid float and width and add a background for fun */
  float: none;
  width: 100%;
  .thumbnail {
    border: none;
    text-align: left;
  }
}
/* give the image a left float in the list view */
.item.list-group-item > .thumbnail > a {
  width: 167px;
  float: left;
  margin-right: 15px;
}
// .item.list-group-item > a img {float:left;}
/* and clearfix the left float of the image */
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after
{
  clear:both;
}

.item {
  padding: 10px;
}

.available-counter {
  position: absolute;
  top: 12px;
  right: 11px;
}

.panel-body {
  position: relative;
}
.item .panel-body > .thumbnail {
  margin-bottom: 0;
}
.item-summary p:last-child {
  margin-bottom: 0;
}
