.reservation-reserved { background-color: $brand-warning; }
.btn.reservation-reserved { @extend .btn-warning; }
.reservation-borrowed { background-color: $brand-info; }
.btn.reservation-borrowed {@extend .btn-info; }
.reservation-returned { background-color: lighten($gray-base, 70%); }
.btn.reservation-returned {
  @extend .btn-default;
  background-color: lighten($gray-base, 70%);
}

.nav-tabs > li:not(.active) {
  a.reservation-reserved, a.reservation-borrowed, a.reservation-returned {
    color: #eee;
    &:hover, &:visited {
      color: inherit;
    }
  }
}

.tabbed-body {
  background-color:white;
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom:20px;
  table.table {
    table-layout: fixed;
    word-wrap: break-word;
  }
}
